* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #f4d04e;
  line-height: 1.6;
  font-family: 'Figtree',sans-serif;
  padding: 1rem; }

.container {
  width: 25%;
  margin: 0 auto;
  border-radius: 1rem;
  border: 0.2rem solid #121212;
  background-color: white;
  box-shadow: 5px 5px; }
  .container .img-main {
    border-radius: 1rem;
    width: 20%; }
  .container .blog-text {
    padding: 1.5rem; }
  .container .yellow-txt {
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    background-color: #f4d04e;
    color: #121212;
    display: inline-block;
    border-radius: .4rem;
    font-weight: 800;
    margin-bottom: 1rem; }
  .container h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .container a {
    list-style: none;
    text-decoration: none;
    font-size: 2.1rem;
    margin-top: .7rem;
    margin-bottom: 1rem;
    font-weight: 800;
    color: #121212; }
  .container a:hover,
  .container a:focus {
    color: #f4d04e; }
  .container p {
    margin-top: .9rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #6b6b6b; }

.profile {
  margin-top: .9rem;
  margin-bottom: .5rem;
  display: flex;
  gap: 1rem;
  align-items: center; }
  .profile img {
    width: 14%; }
  .profile h3 {
    font-size: 1.4rem;
    font-weight: 800; }

.attribution {
  padding: 1rem;
  font-size: 11px;
  text-align: center;
  margin: 0 auto; }

.attribution a {
  color: #3e52a3; }

@media only screen and (max-width: 1138px) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 963px) {
  html {
    font-size: 40%; }
  a {
    font-size: .7rem; } }

@media only screen and (max-width: 765px) {
  html {
    font-size: 32%; }
  a {
    font-size: .5rem; } }

@media only screen and (max-width: 580px) {
  html {
    font-size: 24%; } }

@media only screen and (max-width: 438px) {
  html {
    font-size: 19%; }
  .container {
    width: 27%;
    box-shadow: 3px 3px; } }
