*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background-color: hsl(47, 88%, 63%);
    line-height: 1.6;
    font-family: 'Figtree',sans-serif;
    padding: 1rem;
}
.container{
    width: 25%;
    margin: 0 auto;
    border-radius: 1rem;
    border: .2rem solid hsl(0, 0%, 7%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px;

    .img-main{
        border-radius:1rem;
        // margin: 1rem auto;
        margin-top: 1.2rem;
        margin-left: 1.5rem;
        margin-bottom: .8rem;
        width: 90%;
        display: block;
        
    }
    .blog-text{
        padding: 1.5rem;
    }
    .yellow-txt{
        font-size: 1.5rem;
        padding: .5rem 1.5rem;
        background-color: hsl(47, 88%, 63%);
        color:  hsl(0, 0%, 7%);
        display: inline-block;
        border-radius:.4rem;
        font-weight: 800;
        margin-bottom: 1rem;
    }

    h2{
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        
    }

    a{
        list-style: none;
        text-decoration: none;
        font-size: 2.1rem;
        margin-top: .7rem;
        margin-bottom: 1rem;
        font-weight: 800;
        color: hsl(0, 0%, 7%);
    }
 
    a:hover,
    a:focus{
        color: hsl(47, 88%, 63%);
    }
    
    p{
        margin: .7rem 0;
        font-size: 1.4rem;
        color:hsl(0, 0%, 42%);;
    }
}

.profile{
    margin-top: .9rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    img{
        width: 14%;
    }
    h3{
        font-size: 1.4rem;
        font-weight: 800;
    }
}

.attribution { 
    padding: 1rem;
    font-size: 11px;
     text-align: center;
    margin:  0 auto;
    }
  .attribution a { 
    color: hsl(228, 45%, 44%);
 }

 @media only screen and (max-width:1138px){
    html{
        font-size: 50%;
    }
 }
 @media only screen and (max-width:963px){
    html{
        font-size: 40%;
    }
    a{
        font-size: .7rem;
    }
 }

 @media only screen and (max-width:765px){
    html{
        font-size: 32%;
    }
    a{
        font-size: .5rem;
    }
 }
 @media only screen and (max-width:580px){
    html{
        font-size: 24%;
    }
 }


 @media only screen and (max-width:438px){
    html{
        font-size: 19%;
    }
    .container{
        width: 27%;
        box-shadow: 3px 3px;
    }
 }